@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

/* =================== Start Header =================== */
.menu-bar img{
  display: none;
}
header{
  width: 100%;
  height: 80px;
  background-color: #FFBD12;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img{
  cursor: pointer;
  max-width: 100%;
  width: 80px;
}
header nav ul{
  display: flex;
}
header nav ul li{
  padding:  10px;
}
header nav ul li a
{
  color: #fff;
  font-size: 1em;
  margin-right: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
}

header nav ul li a.active{
  border-bottom: 4px solid white;
}
header nav ul li a:hover{
  border-bottom: 4px solid white;
}

.header-btns .btn-1{
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 10px;
  color: #18191F;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px #18191F;
  border: 2px solid #18191F;
  transition: all 0.3s ease;
}
.header-btns .btn-1:hover{
  border-radius: 5px;
}

/* =================== Start perkenalanku =================== */

.perkenalan{
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  margin-top:50px; 
}
.perkenalanku{
  margin-top: 50px;
  display: grid;
  grid-gap: 15%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.perkenalanku-text{
  border: 2px solid black;
  background-color: #FFBD12;
  border-radius: 10px;
  color: white;
  padding: 20px 40px 20px 40px;
}
.perkenalanku .perkenalanku-text h2{
  margin-bottom: 20px;
  text-align: center;
}
.perkenalanku .perkenalanku-text p{
  text-align: justify;

}
.button-kita{
  margin-top: 30px;
  font-size: 1em;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 10px;
  color: #18191F;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 6px 0px 0px #18191F;
  border: 2px solid #18191F;
  transition: all 0.3s ease;
}
.button-kita i{
  font-size: 22px;
  margin-left: 5px;;
}
.button-kita:hover{
  border-radius: 4px;
}
.perkenalanku-img img{
  width:500px;
  height: auto;
}

/* =================== partners =================== */
.partner{
  margin-top: 150px;
  text-align: center;
}
.partners{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
.partners h1{
 color: #F95A2C;
}
.partner-img{
  justify-content: space-between;  
  display: flex;
}
.partner-img img{
  margin: 50px auto;
  width: 60%;
  opacity: 0.7;
}
.partner-img img:hover{
  opacity: 1;
}
/* =================== menyediakan =================== */

.aboutme{
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  margin-top:150px; 
}
.about-header p{
  width: 60%;
}
.about-header h1{
  color: #F95A2C;
  font-weight: bold;
  margin-bottom: 10px;
}
.about-header img{
float: right;
margin-top: -90px;
}
.menyediakan{
  margin-top: 50px;
  display: grid;
  grid-gap:15%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.features img{
  margin-top: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menyediakan .feature {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: 1fr 1fr;
}

.feature img{
  width: 30%;
}
.inside-feature{
  padding: 20px;
}
.inside-feature h4{
  margin: 8px 0;
}
.inside-feature p{
  text-align: justify;
}

/* =================== mengerjakan =================== */
.mengerjakan{
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  margin-top:150px; 
}
.mengerjakan-header p{
  width: 60%;
}
.mengerjakan-header h1{
  color: #F95A2C;
  font-weight: bold;
  margin-bottom: 10px;
}
.mengerjakan-header img{
float: right;
margin-top: -90px;
}
.project{
  margin-top: 50px;
  display: grid;
  grid-gap:15%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.features img{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .project-feature {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: 1fr 1fr;
}

.project-feature img{
  width: 40%;
}
.project-img img{
  width: 80%;
}
.inside-project{
  text-align: center;
}
.inside-project h4{
  margin: 8px 0;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.inside-project p{
  text-align: justify;
}
.project-1{
  background-color: wheat;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5 ease-in-out;
}
.project-1:hover{
  box-shadow: 0px 10px 20px rgba(255, 168, 37, 0.8);
}

/* =================== galery project =================== */

.galery-project{
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  margin-top:100px; 
  margin-bottom:100px; 
}
.galery-tittle{
  margin-bottom: 60px;
  margin-top: 100px;
}
.galery-tittle p{
 width: 60%;
}
.galery-tittle h1{
  color: red;
  margin-bottom: 15px;
}
.galery-tittle img{
  float: right;
  margin-top: -90px;
}
.galery-tittle .more{
  float: left;
  color: red;
  margin-top:20px;
}
.card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
}
.cardku{
  display: grid;
  grid-template-rows: 250px 140px 70px;
  grid-template-areas: "image" "text" "stats";
  margin:20px;
  border-radius: 18px;
  border: 2px solid black;
  background: white;
  text-align: left;
  cursor: pointer;
  transition: 0.5 ease-in-out;
}
.cardku:hover{
  box-shadow: 0px 5px 30px rgba(255, 168, 37, 0.8);
}
.card-text{
  grid-area: text;
  margin: 10px 25px 15px 25px ;
}
.card-text p{
  color: black;
  text-align: justify;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2{
  margin-bottom: 10px;
}

.card-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: bisque;
  border-top:2px solid black;
}
.card-stats .stat{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card-stats .value{
  font-size:15px;
  margin-right: 10px;
}
.card-stats .border{
  border-left: 2px solid black;
}
.card-stats .border img{
  width: 35%;
}
.card-image{
  overflow: hidden;
}
.card-image img{
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

/* =================== langganan =================== */

.langganan{
  background: bisque;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.langganan-main{
  max-width: 1100px;
  width: 70%;
  border: 2px solid black;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
}
.langganan-main form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.langganan-main form p{
  margin-top: 20px;
  font-size: 13px;
  color: orangered;
}
.langganan-main form p a{
  color: orangered;
  font-weight: bold;
}
.langganan-tittle p{
  margin-top: 20px;
  text-align: center;
}
.langganan-main form input{
  width: 40%;
  height: 50px;
  padding: 0 10px;
  margin: 10px 0px;
  font-family: 'Poppins', sans-serif; 
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}
.langganan-main input:focus{
  outline: none;
  border: 2px solid orangered;
}
.langganan-main form .sign-btn{
  width: 160px;
  height: 55px;
  border: none;
  border-radius: 10px;
  background: orangered;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}


/* =================== footer =================== */

footer{
  margin-top: 70px;
  padding: 30px 0;
}
footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 50px;
}
footer .container a {
  display: block;
  color: #474A57;
  padding: 5px 0;
}
footer .container a:hover {
  color: #F95A2C;
}
.container h2{
  margin-bottom: 10px;
}
.social{
  padding: 20px 0;
  opacity: 0%; 
}
.social img{
  width: 40px;
  margin-left: 15px;
}
.social img:hover{
  transform: scale(1.1);
}
.social .container{
  display: flex;
  justify-content:space-between;
}
.social .lang select{
  margin-top:10px;
  border: none;
  outline: none;
}
.social .copyright{
  margin-top:10px;
  font-size: 14px;
  color: #474A57;
}




@media(max-width: 768px){
  .menu-bar img{
    display: block;
  }
  .header-btns{
    margin-right: 30px;
  }
  .menu-bar img{
    width: 60px;
    height: auto;
    position: absolute;
    right:0px;
    top: 15px;
    font-size: 2em;
    cursor: pointer;
    z-index: 2;
}
  header nav ul.menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background:#FFBD12;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    padding-top: 100px;
    transform: translateX(-1100px);
    transition: all 0.5s ease-in-out;
  }
  header nav ul.menu.show{
    transform: translateX(0px)

  }
  header nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 2em;
  }
  .logo img{
    z-index: 2;
  }
  .header-btns {
    z-index: 2;
  }
  .partner-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .perkenalanku{
    grid-template-columns: 1fr;
  }
  .perkenalanku-img{
    margin-top: 40px;
  }
  .perkenalanku-img img{
    width: 100%;
  }
  .menyediakan{
    grid-template-columns: 1fr;
  }
  .project{
    grid-template-columns: 1fr;
  }
  .features img{
    width: 100%;
  }
  .menyediakan .feature {
    margin-top: 50px;
  }
  .feature img{
    width: 40%;
  }
  .project-feature img{
  width: 40%;
  }
  .project-img img{
    width: 100%;
  }
  .project-img{
    margin-top: 70px;
  }
  .langganan-main form input{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .langganan-main{
    width: 90%;
    padding: 30px;
  }
  .langganan-tittle p{
    text-align: justify;
  }

}
@media(max-width: 420px){
  .partner-img{
    margin-top:50px;
    grid-template-columns: 1fr;
  }
  .partner-img img{
    width: 50%;
  }
  .feature img{
    width: 40%;
  }
  .menyediakan{
  grid-gap:0;
}
  .project{
  grid-gap:0;
}
  .mengerjakan-header p{
    width: 100%;
    margin-bottom: 20px;

  }
  .mengerjakan-header img{
   width: 70px;
   margin-top: 0px;
  }
  .mengerjakan-header{
    margin-bottom: 100px;

  }
  .menyediakan .feature {
    grid-template-columns: 1fr;
    grid-gap:20px;
  }
  .project .project-feature {
    grid-template-columns: 1fr;
  }
  .inside-project p{
    margin-top:-10px;
    padding: 15px;
  }
  .inside-feature h4{
    margin: 5px auto;
    font-size: 17px;
  }
  .inside-feature p{
    text-align: justify;
    margin: 5px auto;
  }
  .cardku{
    margin:60px 0px 30px 0px;
  }
  .galery-tittle p{
    width: 100%;
    margin-bottom: 30px;
   }
   .galery-tittle img{
     margin-top: -20px;
     width: 25%;
   }
   .galery-tittle{
    margin-bottom: 100px;
   }
   .galery-tittle .more{
     margin-top: 5px;
   }
  .card-text{
    margin: 0 25px ;
  }
  .langganan-main{
    width: 90%;
    padding: 30px;
  }
  .langganan-tittle p{
    text-align: justify;
  }
  .langganan-main form input{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .social .container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr ;
  }
  .container {
    text-align: center;
  }
  .socials{
    text-align: center;
  }
}
